<section class="project_ajax">
	<div class="white-popup-block">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12">
					<h1 class="titleText text-center">DoggyTerest</h1>
					<hr class="border">
					<p class="text-center">A Pinterest clone (created in the initial 2 weeks)
						-using HTML/CSS, AngularJS, jQuery, and Firebase.</p>
				</div>
				<div class="col-sm-12 col-md-7">
					<img class="img-responsive" style="height: 375px;width: 560px;" src="assets/images/doggysite.png" alt="" />
				</div>
			
				<div class="descripBox col-sm-12 col-md-5 text-center">
					<h3 class="descrip">Description</h3>
					<ul>
						<li>
							Creation of responsive web pages in HTML and CSS from Photoshop comps
						</li>
						<li>
							Site maintenance and addition of new sections
						</li>
						<li>
							Build small product features to enhance the user's experience
						</li>
					</ul>
					<h3 class="descrip descrip1">Tools</h3>
					<p>HTML &middot; CSS &middot; Bootstrap &middot; AngularJS &middot;jQuery &middot; javascript &middot; JSON &middot; Github</p>
					<a href="http://doggyterest.herokuapp.com/"><button class="descripBtn btn btn-default" target="_blank">VISIT WEBSITE</button></a>
				</div>
			</div>
		</div>
	</div>
</section>
